.cart-container {
  background-color: aliceblue;
  margin-top: 80px;

  .title {
    padding: 10px;
    margin: 0 auto 10px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }

    .button-62 {
      background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
      border: 0;
      border-radius: 12px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow 0.2s ease-in-out;
      user-select: none;
      white-space: nowrap;
    }

    .button-62:not([disabled]):focus,
    .button-62:not([disabled]):hover {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
        -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
        0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
    }
  }

  .order-information {
    display: flex;
    gap: 20px;
    /* Add space between the two columns */
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 40px;

    .order-details {
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      flex: 1;
      /* Make this section take up the remaining space */
    }

    .order-user-info {
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      flex: 0 0 35%;
      /* Set a fixed width percentage for the user info section */
    }
  }
}