.manage-voucher-container {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;

    .content {
        flex-grow: 1;
        padding: 2rem;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: 1px solid #ddd;
        margin-left: 10px;

        h1 {
            font-size: 2rem;
            color: #333;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .voucher-management {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #ccc;

            .create-voucher-btn {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;

                .btn {
                    border: none;
                    background-color: #10b981;
                    /* Thống nhất màu của nút thêm */
                    color: #fff;
                    padding: 0.5rem 1.5rem;
                    border-radius: 10px;
                    cursor: pointer;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                    transition: background-color 0.3s, transform 0.2s;

                    &:hover {
                        background-color: #0f9b7a;
                        transform: translateY(-2px);
                    }
                }
            }
        }

        .add-voucher {
            padding: 1rem;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            margin-bottom: 1rem;

            h4 {
                font-size: 1.5rem;
                color: #333;
                margin-bottom: 1rem;
                text-align: left;
            }

            .add-voucher-detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                label {
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }

                input {
                    padding: 0.5rem;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    transition: border-color 0.3s;

                    &:focus {
                        outline: none;
                        border-color: #1d4ed8;
                    }
                }

                .btn-group {
                    grid-column: span 2;
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;

                    .btn {
                        border: none;
                        color: #fff;
                        padding: 0.5rem 1.5rem;
                        border-radius: 10px;
                        cursor: pointer;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                        transition: background-color 0.3s, transform 0.2s;

                        &.create-btn {
                            background-color: #10b981;

                            &:hover {
                                background-color: #0f9b7a;
                            }
                        }

                        &.cancel-btn {
                            background-color: #ef4444;

                            &:hover {
                                background-color: #d93735;
                            }
                        }
                    }
                }
            }
        }

        .voucher-table {
            margin-top: 1rem;
            padding: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

            table {
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;

                thead {
                    background-color: #f8f9fa;
                    font-weight: bold;
                    font-size: 17px;
                    text-align: center;
                    border-bottom: 1px solid #ddd;

                    th {
                        padding: 10px;
                    }
                }

                tbody {
                    tr:nth-child(even) {
                        background-color: #f1f1f1;
                    }

                    td {
                        padding: 10px;
                        text-align: center;
                    }
                }
            }

            .action-btn {
                width: 50px;
                background: none;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: #2563eb;
                }
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .page-btn {
        border: none;
        background-color: #f0f0f0;
        color: #333;
        padding: 8px 16px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #007bff;
            color: #fff;
        }

        &.active {
            background-color: #007bff;
            color: #fff;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}