.userManagement-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;

  .content {
    flex-grow: 1;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 10px;

    h1 {
      font-size: 2rem;
      color: #333;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .user-management {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1rem;

      .search {
        flex-grow: 1;
        margin-right: 1rem;
        display: flex;
        align-items: center;

        label {
          font-weight: bold;
          margin-right: 0.5rem;
        }

        input {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 0.5rem;
          width: 100%;
          transition: border-color 0.3s;

          &:focus {
            outline: none;
            border-color: #1d4ed8;
          }
        }
      }

      .filters {
        display: flex;
        gap: 10px;
        margin-right: 1rem;

        select {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 0.5rem;
          background-color: #f8f9fa;
          color: #333;
          transition: border-color 0.3s;

          &:focus {
            outline: none;
            border-color: #1d4ed8;
          }
        }
      }

      .button-group {
        display: flex;
        gap: 10px;

        .btn {
          border: none;
          background-color: #1d4ed8;
          color: #fff;
          padding: 0.5rem 1.5rem;
          border-radius: 10px;
          cursor: pointer;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s, transform 0.2s;

          &:hover {
            background-color: #2563eb;
            transform: translateY(-2px);
          }
        }

        .add-btn {
          background-color: #10b981;
        }

        .back-btn {
          background-color: #ef4444;
        }
      }
    }

    .table {
      margin-top: 1rem;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

      .table-content {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      }

      .react-switch {
        margin: 0 auto;
      }
    }
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;

    .action-btn {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #f0f0f0;
        transform: scale(1.1);
      }

      &:first-child {
        margin-right: 0.5rem;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}