.manage-inventory-container {
  margin: 2.5% auto 0;
  width: 95%;

  .spinner-container {
    margin-top: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btn {
    border-radius: 20px;
    margin-bottom: 1rem;
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .table-inven {
    margin-top: 1rem;
  }

  .table-content {
    font-size: 14px;

    .rdt_TableHeadRow {
      background-color: #f8f9fa;
    }

    .rdt_TableCell {
      white-space: normal;
      font-size: 14px;
    }

    .action {
      display: flex;

      .icon_btn {
        border: none;
        background: none;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 10px;
        padding: 5px;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(2);
        }
      }
    }
  }
}

