.container {
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.img-container {
  text-align: center;
  padding: 15px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  max-height: 200px; /* Ensure images have a consistent height */
  object-fit: cover; /* Crop the image to fit the container */
}

.content-container {
  padding: 15px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container h4 {
  font-size: 18px;
  margin: 10px 0;
}

.price {
  color: #ff5722;
  font-size: 20px;
}

.emptyinfo img {
  display: block;
  margin: 0 auto 20px;
}

.emptyinfo p {
  text-align: center;
  font-size: 18px;
  color: #666;
}

/* New styles to remove underline from links */
.link {
  text-decoration: none;
}

.link h4 {
  color: inherit; /* Inherit the color from the parent */
}

.link:hover h4 {
  color: #ff5722; /* Add a hover effect to the text */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
