.reportManagement-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 10px;

  .content {
    flex-grow: 1;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-left: 5px;

    h1 {
      font-size: 1.5rem;
      color: #333;
      text-align: center;
      margin-bottom: 1rem;
    }

    .report-management {
      .spinner-report {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 200px;
      }

      .table {
        margin-top: 0.5rem;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

        .rdt_Table {
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          margin-left: 0;

          .rdt_TableHead {
            background-color: #e0e0e0;
            text-align: center;

            .rdt_TableCol {
              font-weight: bold;
              padding: 4px; // Reduced padding to minimize the spacing
              border-bottom: 1px solid #dcdcdc; // Reduced border thickness
            }
          }

          .rdt_TableBody {
            .rdt_TableRow {
              &:nth-child(odd) {
                background-color: #f9f9f9;
              }

              &:nth-child(even) {
                background-color: #fff;
              }

              .rdt_TableCell {
                padding: 5px;
                border-bottom: 1px solid #e0e0e0;

                img.report-image {
                  width: 40px;
                  height: 40px;
                  object-fit: cover;
                  border-radius: 50%;
                }

                .action {
                  display: flex;
                  justify-content: flex-start;

                  .action-btn {
                    cursor: pointer;
                    margin: 0 3px;
                    transition: background-color 0.3s;

                    &:hover {
                      background-color: #f0f0f0;
                      border-radius: 4px;
                    }

                    svg {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}