.spinner-order {
    margin-top: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.confirm {
    width: 80%;
    margin: 10% auto 0; 
    box-shadow: 1px 1px 10px 5px rgba(180, 177, 177, 0.989); 
    background-color: #fff; 


    .confirm-th {
        height: 40px;
        background-color: #f8f9fa;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        line-height: 40px; 
        border-bottom: 1px solid #ddd; 

        .table-confirm-th {
            width: 100%;
            padding: 6px;
            table-layout: fixed;
        }
    }

    .confirm-tb {
        height: 475px;
        overflow: auto;

        .table-confirm-tb {
            width: 100%;
            padding: 10px;
            font-size: 15px;
            table-layout: fixed; 
            tr:nth-child(even) {
                background-color: #dcdee3;
            }

            td {
                padding: 10px 10px 10px 30px;
                text-align: center;
            }

            .status-cancel {
                color: #dc3545;
            }

            .status-paid {
                color: #ff4d00;
            }
    
            .status-complete {
                color: #28a745;
            }
    
            .status-pending {
                color: #ffc107;
            }
    
            .status-delivered {
                color: #a304ff;
            }
    
            .status-confirm {
                color: #048cfc;
            }
    
            .status-dot {
                display: inline-block;
                width: 10px;
                height: 10px; 
                border-radius: 50%;
                margin-right: 5px;
            }
                
            .status-cancel .status-dot {
                background-color: #dc3545;
            }

            .status-paid .status-dot {
                background-color: #ff4d00;
            }
    
            .status-complete .status-dot {
                background-color: #28a745;
            }
    
            .status-pending .status-dot {
                background-color: #ffc107;
            }
    
            .status-delivered .status-dot {
                background-color: #a304ff;
            }
    
            .status-confirm .status-dot {
                background-color: #048cfc;
            }
        }
    

        .action-btn-confirm {
            background: none;
            border: none;
            font-size: 16px;
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(1.5);
            }
        }

        .action-btn-cancel {
            background: none;
            border: none;
            font-size: 16px;
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

