.purchase-history-wrapper {
  

    margin: 0 auto;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 70px;
  
    button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    button:hover {
      background-color: #0056b3;
    }
  
    button.active {
      background-color: #0056b3;
    }
  }
  
  .order-list {
    display: flex;
    margin: 50px;
    flex-direction: column;
    gap: 15px;
  }
  
  .order-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .order-card p {
    margin: 5px 0;
  }
  