.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-indicator.pending {
  background-color: #ff9900;
}

.status-indicator.paid {
  background-color: #28a745;
}

.status-indicator.canceled {
  background-color: #dc3545;
}

.status-indicator.delivering {
  background-color: #17a2b8;
}

.status-indicator.delivered {
  background-color: #007bff;
}

.status-indicator.processing {
  background-color: #ffc107;
}

.status-indicator.returning {
  background-color: #252525;
}

.status-indicator.have-returned {
  background-color: #044a79;
}

.status-indicator.refunded {
  background-color: #17ff07;
}

.status-indicator.pre-order {
  background-color: #3473d7;
}

.status-indicator.pre-order-completed {
  background-color: #b9e51d;
}

.status-indicator.pre-order-canceled {
  background-color: #ff0707;
}