.update-info-page {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;

  .header-footer-wrapper {
    width: 100%;
  }
  

  h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #343a40;
  }

  .update-info-container {
    background-color: #e4eae3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }

  .update-info-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 20px;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        margin-bottom: 5px;
        font-weight: 600;
        color: #495057;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        font-size: 1rem;
        color: #495057;
      }
    }

    .update-info-button {
      padding: 10px;
      font-size: 1.2rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100%;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .update-info-page h2 {
    font-size: 2rem;
    margin-top: 120px;
  }

  .update-info-container {
    padding: 20px;
  }

  .update-info-form .form-group input {
    font-size: 0.9rem;
  }

  .update-info-form .update-info-button {
    font-size: 1rem;
    padding: 8px;
  }
}
