$background-color: #ffffff;
$text-color: #000000;
$border-color: #e0e0e0;
$hover-border-color: #ccc;
$hover-background-color: #f9f9f9;
$icon-color: #777777;

.dashboard_container {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;

  .dashboard-content {
    flex: 1;
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: $text-color;

    h1 {
      font-size: 2rem;
      color: $text-color;
    }

    .d-flex {
      margin-bottom: 20px;
      justify-content: space-between;
      align-items: center;

      .date-picker-container {
        display: flex;
        gap: 10px;
      }

      .date-picker {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1rem;
        color: $text-color;
        background-color: $background-color;
        cursor: pointer;
        transition: border-color 0.3s, background-color 0.3s;

        &:hover {
          border-color: $hover-border-color;
          background-color: $hover-background-color;
        }

        &:focus {
          border-color: #999;
          outline: none;
        }
      }
    }

    .row {
      flex: 0.5;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      .card {
        background-color: $background-color;
        border: 1px solid $border-color;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        padding: 10px;
        flex: 1;
        justify-content: space-between;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;
          padding: 10px;

          .card-title {
            font-size: 1.25rem;
            color: $text-color;
            margin-bottom: 10px;
            font-weight: bold;
          }

          div {
            font-size: 1.25rem;
            color: $text-color;
          }
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
          color: $icon-color;
        }
      }
    }

    .chart {
      margin-top: 20px;
    }
  }
}